﻿@using Web.Models;
@{
    ViewBag.Title = "Edit";
}
@model EditModel

<style>
    .readable-text {
        font-size: 3em;
    }

    textarea#VerseText {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        width: 100%;
        max-width: 100%;
    }
</style>


@if (Model.CurrentState == EditingState.Edit)
{
    <h2>Editing (@Model.SurahNo) @Model.SurahName, Verse @Model.VerseNo</h2>
}
else if (Model.CurrentState == EditingState.Preview)
{
    <h2>Confirm your changes (@Model.SurahNo) @Model.SurahName, Verse @Model.VerseNo</h2>
}
else if (Model.CurrentState == EditingState.Save)
{
    <h2>Done (@Model.SurahNo) @Model.SurahName, Verse @Model.VerseNo</h2>
}

@if (!string.IsNullOrWhiteSpace(Model.SuccessMessage))
{
    <div class="alert alert-success">
        <strong>Success!</strong> @Model.SuccessMessage
    </div>
}
@if (!string.IsNullOrWhiteSpace(Model.WarningMessage))
{
    <div class="alert alert-warning">
        <strong>Warning!</strong> @Model.WarningMessage
    </div>
}

<form action="@Url.Action("Index", "Edit")" method="post" id="VerseEditingForm">
    <input type="hidden" name="VerseId" value="@Model.VerseId" />
    <input type="hidden" name="ReturnUrl" value="@Model.ReturnUrl" />

    <input type="hidden" name="SurahNo" value="@Model.SurahNo" />
    <input type="hidden" name="SurahName" value="@Model.SurahName" />
    <input type="hidden" name="VerseNo" value="@Model.VerseNo" />
    <input type="hidden" name="CurrentState" value="@Model.CurrentState" />
    <input type="hidden" name="OriginalText" id="OriginalText" value="@Model.OriginalText" />
    <input type="hidden" name="OriginalVerseText" value="@Model.OriginalVerseText" />

    <div class="row">
        <div class="col-sm-12">
            <div class="form-group">
                <label for="SelectSurahFrom">Original:</label>
                <div class="readable-text arabic-alignment">@Model.OriginalText</div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="form-group">
                <label for="EditedText">Edit:</label> 
                @if (Model.CurrentState == EditingState.Edit)
                {
                    <a id="CopyFromOriginal" href="javascript:void(0);">Copy from original</a>
                }
                <textarea class="form-control readable-text arabic-alignment" cols="200" id="VerseText" name="VerseText" @(Model.CurrentState == EditingState.Edit ? "" : "disabled")>@Model.VerseText</textarea>
                @if (Model.CurrentState != EditingState.Edit)
                {
                    <input type="hidden" name="VerseText" value="@Model.VerseText" />
                }
            </div>
        </div>
    </div>

    @if (Model.CurrentState == EditingState.Preview)
    {
        if (Model.OriginalLines != null && Model.OriginalLines.AllLines != null)
        {
            <h5>Current verse stored in database: </h5>
            @Html.Partial("_HarfInBox", Model.OriginalLines)
        }

        if (Model.PreviewLines != null && Model.PreviewLines.AllLines != null)
        {
            <h5>Preview of modified verse that will be saved into database: </h5>
            @Html.Partial("_HarfInBox", Model.PreviewLines)
        }

        <div class="row">
            <div class="col-sm-12">
                <div class="form-check">
                    <br />
                    <div class="alert alert-info">
                        <input class="form-check-input" type="checkbox" value="false" name="ConfirmCheck" id="ConfirmCheck">
                        <label class="form-check-label" for="ConfirmCheck">
                            I confirm the changes. I acknowledge that my name will be recorded as the editor of this verse. I know what I am doing.
                        </label>
                    </div>
                    <br />
                </div>
            </div>
        </div>
    }

    <div class="row">
        <div class="col-sm-12">
            @if (Model.CurrentState == EditingState.Save)
            {
                <a class="btn btn-primary" href="@Model.ReturnUrl">Back to home</a>
            }
            else
            {
                <input class="btn" type="button" value="Cancel" onclick="window.location = '@Model.ReturnUrl'" />
            }

            @if (Model.CurrentState == EditingState.Edit)
            {
                <input class="btn btn-primary" type="submit" name="RequestedState" value="@EditingState.Preview" />
            }
            else if (Model.CurrentState == EditingState.Preview)
            {
                <input class="btn" type="submit" name="RequestedState" value="@EditingState.Edit" />
                <input id="SaveButton" class="btn btn--primary" type="submit" name="RequestedState" value="@EditingState.Save" disabled="disabled"/>
            }
        </div>
    </div>
</form>

    @if (Model.HistoryModel != null && Model.HistoryModel.Histories != null && Model.HistoryModel.Histories.Count > 0)
    {
        <br />
        <h4>Edit History: </h4>
        @Html.Partial("_VerseEditHistory", Model.HistoryModel)
    }


@section scripts
{
    <script>
        $("#ConfirmCheck").click(function () {
            if ($("#ConfirmCheck").is(":checked")) {
                $("#SaveButton").removeAttr("disabled");
                $("#ConfirmCheck").attr("value", "true");
            } else {
                $("#SaveButton").attr("disabled", "disabled");
            }
        });

        $("#CopyFromOriginal").click(function () {
            $("#VerseText").html($("#OriginalText").val());
        });
    </script>

}
