﻿@using Web.Models
@using Data

@model  HarfInBoxModel

@foreach (LineModel line in Model.AllLines)
{
    <div class="row verse-line">
        @{
            int lineLenght = line.Harfs.Length;
            string elementId = "verse_" + line.SurahNo + "_" + line.VerseNo;
        }

        <div id="@elementId" class="surah-verse-no">
            @(line.SurahNo + ":" + line.VerseNo)
            @if (HttpContext.Current.User.Identity.IsAuthenticated && Model.ShowEditIcon)
                {
                <a href="@Url.Action("Index", "Edit", new { verseId = line.VerseId, returnUrl = Request.RawUrl + "#" + elementId})" class="glyphicon glyphicon-edit icon-space edit-link" title="Edit this verse"></a>
            }
        </div>

        @foreach (VerseHarf harf in line.Harfs)
        {
            if (harf.HarfText == " ")
            {
                <div style="float:right; width:50px; border: 1px solid #F0F0F0; margin-bottom:10px;">
                    <div class="row" style="padding:5px; text-align:center;">&nbsp;</div>
                    <div class="row" style="padding:5px; text-align:center; font-size:3em;">&nbsp;</div>
                    <div class="row" style="padding:5px; text-align:center;">&nbsp;</div>
                </div>
            }
            else
            {
                bool isHighlight = false;
                if (ViewBag.GlobalHarfPositions != null)
                {
                    isHighlight = ((List<int>)ViewBag.GlobalHarfPositions).Contains(harf.GlobalCounter);
                }
                <div class="single-harf @( isHighlight ? "highlight" : "")" style="float:right; min-width:50px; border: 1px solid #F0F0F0; margin-bottom:10px;">
                    <div class="row" id="localcounter" style="padding:5px; min-width:50px; text-align:center;">@harf.LocalCounter</div>
                    <div class="row"  style="padding:5px; min-width:50px; text-align:center; font-size:3em;">@harf.HarfText</div>
                    <div class="row" id="globalcounter"style="padding:5px; min-width:50px; text-align:center;">@harf.GlobalCounter</div>
                </div>
            }
        }
        @*<div style="float:right; width:50px; ">
            <span class="end-of-verse"> @ConvertNumerals.Convert(line.VerseNo.ToString())  </span>
        </div>*@

        <div style="float:right; width:50px; ">
            <span class="end-of-verse"> @line.VerseNo.ToString()  </span>
        </div>

        <hr class="h-line dark-bold" />

    </div>
}
