﻿@using Web.Models
@using Data
@model ISurahSearchable
    @{ 
        var filter = Model.SearchFilter;
    }

<div class="row alert-info">
    <div class="col-md-12">
        <a class="glyphicon glyphicon-home icon-space no-underline" href="@Url.Action("Index", "Home")" title="Go to home">&nbsp;Home</a>
        <a class="glyphicon glyphicon-plus icon-space no-underline" id="Switch" data-toggle="collapse" href="#FilterForm" aria-expanded="false" aria-controls="FilterForm" title="Show filters">&nbsp;Filters</a>
        <a class="glyphicon glyphicon-question-sign icon-space no-underline" href="javascript:StartGuidedTour('@HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString()');" title="Start Guided Tour">&nbsp;Help</a>
        <a class="glyphicon glyphicon-stats icon-space no-underline" id="StatLink" href="@(Url.Action("Index", "Stat") + "?" + Request.QueryString)" title="View Statistics">&nbsp;Statistics</a>
    </div>
</div>

<div class="spacer"></div>

<div class="jumbotron collapse multi-collapse" id="FilterForm">

    <form action="@Model.SearchToUrl" method="get">
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="SelectSurahFrom">Surah From:</label>
                    <select class="form-control" id="SelectSurahFrom" name="ss">
                        <option>Select....</option>
                        @foreach (Surah surah in Model.SurahList)
                        {
                            <option value="@surah.SurahNo" @(surah.SurahNo == filter.StartSurahNo ? "selected" : "")>
                                @surah.EnglishName - @surah.ArabicName
                            </option>

                        }
                    </select>
                </div>


            </div>

            <div class="col-sm-4">
                <div class="form-group">
                    <label for="SelectSurahTo">Surah To:</label>
                    <select class="form-control" id="SelectSurahTo" name="es">
                        <option>Select....</option>
                        @foreach (Surah surah in Model.SurahList)
                        {
                            <option value="@surah.SurahNo" @(surah.SurahNo == filter.EndSurahNo ? "selected" : "")>
                                @surah.EnglishName - @surah.ArabicName
                            </option>
                        }
                    </select>
                </div>


            </div>

            <div class="col-sm-4">
                <div class="form-group">
                    <label for="SelectSingleHarf">Select Harf:</label>
                    <select class="form-control" id="SelectSingleHarf" name="h">
                        <option value="">Select...</option>
                        @foreach (string harf in Model.HarfFilterItems)
                        {
                            <option value="@harf" @(harf == filter.SpecificHarf ? "selected" : "")>
                                @harf
                            </option>
                        }
                    </select>
                </div>
            </div>


            <div class="col-sm-4 form-group">
                <label for="StartVerseNo">Verse From</label>
                <input type="text" class="form-control" id="StartVerseNo" name="sv" value="@(filter.StartVerseNo)" />
            </div>
            <div class="col-sm-4 form-group">
                <label for="EndVerseNo">Verse To</label>
                <input type="text" id="EndVerseNo" class="form-control" name="ev" value="@(filter.EndVerseNo)" />
            </div>

            <div class="col-sm-4">
                <div class="form-group">
                    <label for="SelectSource">Select Sourcce:</label>
                    <select class="form-control" id="SelectSource" name="src">
                        <option value="">Select...</option>
                        @foreach (KeyValuePair<int, string> source in Model.SourceItems)
                        {
                            <option value="@source.Key" @(source.Key == filter.SourceId ? "selected" : "")>
                                @source.Value
                            </option>
                        }
                    </select>
                </div>
            </div>

            <div class="col-sm-4">
                <input class="btn btn-primary" type="submit" value="Submit" />
            </div>
        </div>


    </form>

</div>


