﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Quranic Harf</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Quranic-Harf", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">

                @RenderSection("NavBarSummary", false)

                @*<ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>*@
                @Html.Partial("_LoginPartial")
               
            </div>
        </div>
    </div>
    <div class="container body-content" style="padding:30px 0px 0px 0px ">
        @RenderBody()
        <hr />
        <footer></footer>
    </div>

    <input type="hidden" id="RecalcUrl" value="@(Url.Action("Try", "Recalc") + "?" + Request.QueryString)" />

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")


    <script src="@Url.Content("~/Scripts/bootstro.js")"></script>
    <link href="http://clu3.github.io/bootstro.js/bootstro.css" rel="stylesheet">

    @RenderSection("scripts", required: false)
    <script src="@Url.Content("~/Scripts/main.js")"></script>

</body>
</html>
