﻿@using Microsoft.AspNet.Identity
@using Microsoft.Owin.Security
@using Web.Models
@*@model Web.Models.ExternalLoginListViewModel*@
@{ 
    var thisModel = new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl };
}

@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li>
                @*@Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })*@
                <a>@("Hello " + User.Identity.GetUserName() + "!")</a>
            </li>
            <li><a id="LogOffLink" href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
        </ul>
    }
}
else
{
    using (Html.BeginForm("ExternalLogin", "Account", new { ReturnUrl = thisModel.ReturnUrl, provider = "Google"}, FormMethod.Post, new { id = "loginForm"}))
    {
        var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();

        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li><a id="LogInLink" href="javascript:document.getElementById('loginForm').submit()">Log in with Google</a></li>
        </ul>
    }

}
