﻿@using Data
@model Web.Models.VerseEditHistoryModel


<table class="table table-bordered">
    <thead>
        <tr>
            <th>Date</th>
            <th>Edited By</th>
            <th>Edited Text</th>
        </tr>
    </thead>
    <tbody>
        @foreach (VerseEditHistory history in Model.Histories)
        {
            <tr>
                <td>@history.EditedDate</td>
                <td>@history.EditedBy</td>
                <td>@history.EditedText</td>
            </tr>
        }

    </tbody>
</table>

