﻿@using Web.Models;
@{
    ViewBag.Title = "Edit";
}
@model EditModel

<style>
    .readable-text {
        font-size: 3em;
    }

    textarea#VerseText {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        width: 100%;
        max-width: 100%;
    }
</style>
<div class="row alert-info">
    <div class="col-md-12">
        
        <a class="glyphicon glyphicon-question-sign icon-space no-underline" href="javascript:StartGuidedTour();" title="Start Guided Tour">&nbsp;Help</a>
       
    </div>
</div>

<h2>Editing (@Model.SurahNo) @Model.SurahName, Verse @Model.VerseNo</h2>

@if (!string.IsNullOrWhiteSpace(Model.SuccessMessage))
{
    <div class="alert alert-success">
        <strong>Success!</strong> @Model.SuccessMessage
    </div>
}

<form action="@Url.Action("Edit", "Home")" method="post">
    <input type="hidden" name="VerseId" value="@Model.VerseId" />
    <input type="hidden" name="ReturnUrl" value="@Model.ReturnUrl" />

    <input type="hidden" name="SurahNo" value="@Model.SurahNo" />
    <input type="hidden" name="SurahName" value="@Model.SurahName" />
    <input type="hidden" name="VerseNo" value="@Model.VerseNo" />

    <div class="row">
        <div class="col-sm-12">
            <div class="form-group">
                <label for="SelectSurahFrom">Original:</label>
                <div class="readable-text arabic-alignment">@Model.OriginalText</div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="form-group">
                <label for="EditedText">Edit:</label>
                <textarea class="form-control readable-text arabic-alignment" cols="200" id="VerseText" name="VerseText">@Model.VerseText</textarea>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <input type="button" value="Cancel" onclick="window.location = '@Model.ReturnUrl'" />
            <input type="button" value="Priview" onclick="window.location = '@Model.VerseText'" />
            <input type="button" value="I conform the changes" onclick="window.location = '@Model.ReturnUrl'" />
            <input type="submit" value="Save" />
        </div>
    </div>
</form>



