﻿@using Web.Models;
@using Data;
@using Common;

@model HomePageModel

@{
    ViewBag.Title = "Surah Fatihah";
    List<int> localPositions = ViewBag.LocalHarfPositions;
    List<int> globalPositions = ViewBag.GlobalHarfPositions;
    SearchFilter filter = Model.SearchFilter;
}


@section NavBarSummary
{
    @if (Model.NavBarModel != null)
    {
        <span class="navbaritems"><u>Showing  @Model.NavBarModel.SelectedRange</u>  </span>
        <span class="navbaritems">Highlighted Harf: <strong> "@Model.NavBarModel.HighlightedText" </strong> </span>
        <span class="navbaritems">Local Counter Range " @Model.NavBarModel.LocalCounterRange " </span>
        <span class="navbaritems">Global Counter Range "  @Model.NavBarModel.GlobalCounterRange "</span>
    }
 
}

@Html.Partial("_Header", Model)


    @if (!string.IsNullOrWhiteSpace(Model.ErrorMessage))
    {
        <div class="alert alert-danger">
            <strong>ERROR!</strong> @Model.ErrorMessage
        </div>
    }

    @if (!string.IsNullOrWhiteSpace(Model.WarningMessage))
    {
        <div class="alert alert-warning">
            <strong>Warning!</strong> @Model.WarningMessage
        </div>
    }

    <div class="container">

        @if (localPositions.Count > 0)
        {
            int totalCount = 0;
            <div class="row" style="text-align:right;font-size:1.5em;">
                <h5>Local position of <span style="font-weight:bold;font-size:2em;">@filter.SpecificHarf</span>  </h5>

                @foreach (int position in localPositions)
                {
                    <span>@position</span>@(",")
                    totalCount++;
                }

                <div class="text-info"> <span style="font-weight:bold; font-size:small;"> @("Repeat : ") @totalCount @("Times")</span></div>
                <hr />
            </div>
        }

        @if (globalPositions.Count > 0)
        {
            <div class="row" style="text-align:right;font-size:1.5em;">
                <h5>Global position of <span style="font-weight:bold;font-size:2em;">@filter.SpecificHarf</span>  </h5>

                @foreach (int position in globalPositions)
                {
                    <span>@position</span>@(",")
                }
                <hr />
            </div>
        }

       @Html.Partial("_HarfInBox", Model.HarfInBoxModel)

    </div>


@section scripts
{
    <script>
        $("#Switch").click(function () {
            $(this).toggleClass("glyphicon-minus");
        });
    </script>

}

