﻿.bootstro-next-btn {
    float: right;
}

.bootstro-prev-btn {
    float: left;
}

.bootstro-backdrop {
    opacity: 0.5;
    background-color: #000000;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1;
    filter: alpha(opacity=50);
}

.bootstro-highlight {
    z-index: 9999;
    position: relative;
    border: 1px solid white;
    background-color: white;
}

.bootstro-finish-btn-wrapper {
    /*border-top:1px solid #eee;*/
    padding-top: 10px;
    text-align: center;
    clear: both;
}

.bootstro-nav-wrapper {
    margin-top: 10px;
}

    .bootstro-nav-wrapper button, .bootstro-finish-btn-wrapper button {
        font-size: 12px !important;
        padding: 3px 5px 3px 5px !important;
        font-weight: bold;
    }
