﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.spacer {
    margin-bottom: 10px;
}

.arabic-alignment {
    text-align: right;
}
/*used in EditController- index as for current state and orgial text */
.hidden {
    display: none;
}

table.harf-line {
    float: right;
}

.no-underline {
    text-decoration: none !important;
}

.h-line {
    clear: both;
}

.dark-bold {
    border-color: black;
    /*border-width: thick;*/
}

.highlight {
    background-color: yellow;
    font-weight: bold;
}

h2 {
    letter-spacing: 1px;
}

table td {
    border: solid 1px black;
    padding: 5px 10px;
    min-width: 30px;
}

.harf {
    font-size: 2em;
}

.global-counter {
    color: green;
}

.surah-counter {
    color: orange;
}

.end-of-verse {
    border: solid 3px black;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    float: right;
    font-size: 1.8em;
    font-weight: bold;
    margin-top: 39px;
    padding-left: 2px;
    padding-top: 5px;
    padding-right: 5px;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.btn-group-lg > .btn, .btn-lg {
    padding: .5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: .3rem;
}

.btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

#SelectSingleHarf option {
    font-size: 3em;
}

.navbaritems {
    color: white;
}

.icon-space {
    margin: 2px 5px 2px 10px;
    padding: 2px 5px 2px 10px;

}
