﻿@using Web.Models
@{
    ViewBag.Title = "Index";
}
@model StatModel

@Html.Partial("_Header", Model)



<h2>Count of Harfs</h2>

<div class="row">
    <div class="col-md-12">
        <canvas id="HarfStatPieChart" style="width:100%;height:500px;"></canvas>
    </div>
</div>

<h2>Local and Global positions of Harfs</h2>

<div class="row">
    <table id="HarfPositionTable" class="table table-bordered">
        <thead>
            <tr>
                <th style="width:auto; text-align: center">Harf</th>
                <th style="width:auto;text-align: center">Local positions</th>
                <th style="width:auto;text-align: center">Global positions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (HarfPositions harfPosition in Model.AllHarfPositions)
            {
                <tr>
                    <td ><strong>@harfPosition.Harf</strong></td>
                    <td>@string.Join(", ", harfPosition.LocalPositions)</td>
                    <td>@string.Join(", ", harfPosition.GlobalPositions)</td>
                </tr>
            }
        </tbody>
    </table>
</div>


@section scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>

    <script>
        var ctx = document.getElementById("HarfStatPieChart").getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: [ @Html.Raw(Model.HarfLabels) ],
                datasets: [{
                    label: 'count of harf',
                    data: [ @Html.Raw(Model.HarfData)],
                    backgroundColor: [
                        'rgba(231, 49, 13, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)',
                        'rgba(249, 111, 76, 0.2)',
                        'rgba(246, 60, 13, 0.2)',
                        'rgba(246, 223, 13, 0.2)',
                        'rgba(79, 71, 2, 0.2)',
                        'rgba(65, 87, 9, 0.2)',
                        'rgba(215, 251, 126, 0.2)',
                        'rgba(39, 241, 8, 0.2)',
                        'rgba(17, 90, 6, 0.2)',
                        'rgba(107, 249, 178, 0.2)',
                        'rgba(5, 126, 66, 0.2)',
                        'rgba(60, 208, 245, 0.2)',
                        'rgba(7, 73, 89, 0.2)',
                        'rgba(44, 149, 241, 0.2)',
                        'rgba(6, 56, 100, 0.2)',
                        'rgba(40, 64, 244, 0.2)',
                        'rgba(52, 12, 196, 0.2)',
                        'rgba(201, 197, 196, 0.2)',
                        'rgba(18, 21, 190, 0.2)',
                        'rgba(77, 7, 135, 0.2)',
                        'rgba(246, 67, 249, 0.2)',
                        'rgba(129, 11, 131, 0.2)',
                        'rgba(246, 13, 110, 0.2)',
                        'rgba(236, 110, 139, 0.2)',
                        'rgba(81, 82, 19, 0.2)'

                    ],
                    borderColor: [
                        'rgba(231, 49, 13, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)',
                        'rgba(249, 111, 76, 1)',
                        'rgba(246, 60, 13, 1)',
                        'rgba(246, 223, 13, 1)',
                        'rgba(79, 71, 2, 1)',
                        'rgba(65, 87, 9, 1)',
                        'rgba(215, 251, 126, 1)',
                        'rgba(39, 241, 8, 1)',
                        'rgba(17, 90, 6, 1)',
                        'rgba(107, 249, 178, 1)',
                        'rgba(5, 126, 66, 1)',
                        'rgba(60, 208, 245, 1)',
                        'rgba(7, 73, 89, 1)',
                        'rgba(44, 149, 241, 1)',
                        'rgba(6, 56, 100, 1)',
                        'rgba(40, 64, 244, 1)',
                        'rgba(52, 12, 196, 1)',
                        'rgba(201, 197, 196, 1)',
                        'rgba(18, 21, 190, 1)',
                        'rgba(77, 7, 135, 1)',
                        'rgba(246, 67, 249, 1)',
                        'rgba(129, 11, 131, 1)',
                        'rgba(246, 13, 110, 1)',
                        'rgba(236, 110, 139, 1)',
                        'rgba(81, 82, 19, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
    </script>

}